# Logs
logs
*.log
npm-debug.log*

#Typescript typedef files
typings

#Distribution files
dist

#Generated documentation
docs

# Runtime data
pids
.temp
*.pid
*.seed

# Tools
lib-cov
coverage
.nyc_output
junit.xml
.idea/

# node-waf configuration
.lock-wscript

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# IDE files
.idea
